body {
  background-color: lightblue;
}

#nav-bar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: end;
  background-color: white;
  position: fixed;
}

#landing-content-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;

  #landing-content-inner-container {
    #landing-title {
      font-size: 24px;
      padding: 30px;
      text-align: center;
    }

    #start-btn-container {
      display: flex;
      justify-content: center;
    }
  }
}
