#quiz-outer-container {
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;

  #quiz-inner-container {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 0px 10px gray;

    #quiz-pass-fail-container {
      font-size: 40px;
    }

    #question {
      padding: 20px 0px;
    }
  }
}
